.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}


/*Botones Crear*/
.btn{
    display:flex;
    justify-content: space-around;

}

.buttonContainerCrear{
    display: flex;
    justify-content: center;
}

/*Botones Editar*/
.buttonContainerEdit{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration:none;
}

/*Boton Atrás*/

.buttonBack{
    margin-left: 1rem;
}
